{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {d, lager}
           ]}.
{deps, [
    {lager, {git, "git@github.com:basho/lager.git", {tag, "3.0.2"}}},
    {csi, {git, "git@github.com:esl/CommonServiceInterface.git", {branch, "fixrebar"}}}
    ]}.

{pre_hooks, [{compile, "config/generate-config.sh --deps ${BUILD_DEPS} --build-env ${BUILD_ENV}"}]}.

{relx, [{release, {csi_example, "0.0.1"},
         [runtime_tools,
          csi,
          em
         ]},
        {dev_mode, false},
        {include_erts, true},
        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},
        {extended_start_script, true}]}.

{dialyzer, [
    {warnings, [underspecs, no_return]},
    {get_warnings, true},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    {plt_extra_apps, [lager]},
    {plt_location, local}, % local | "/my/file/name"
    {plt_prefix, "rebar3"},
    {base_plt_apps, [stdlib, kernel]},
    {base_plt_location, global}, % global | "/my/file/name"
    {base_plt_prefix, "rebar3"}
]}.

