%%
%% With the template sys.config we can define a generic sys.config which
%% will be processed later by the generate-config.sh script.
%% During the processing the variable references will be substituted with
%% the actual content of the variables depending on the build environment.
[{em, [
    {timer_sleep, ${timer_sleep}}
 ]}
].
