%%
%% With the template sys.config we can define a generic sys.config which
%% will be processed later by the generate-config.sh script.
%% During the processing the variable references will be substituted with
%% the actual content of the variables depending on the build environment.
[{app, [
    {timer_sleep, ${timer_sleep}}
 ]},
 {csi,[{servers,[{app_service,app_service,[],
                      {app_service,
                       {csi,
                        start_link,
                        [app_service, app_service, []]},
                       permanent,
                       2000,
                       worker,
                       [app,app_service]}}]
       }
      ]
 }
%% Use this from R18+ only
%%[{csi,[{servers,[{app_service,app_service,[],
%%                      #{id => app_service,
%%                      start => {csi,
%%                                start_link,
%%                                [app_service, app_service, []]},
%%                      restart => permanent,
%%                      shutdown => 2000,
%%                      type => worker,
%%                      modules => [app,app_service]}}]
%%       }
%%      ]
%% }
].
